.theme-dark {
    --clr-black: #001219;
    --clr-dark-grey: #1A191F;
    --clr-mid-grey: #2E2D32;
    --clr-light-grey: #4A494F;
    --clr-pastel: #E9D8A6;
    --clr-white: #EFEFEF;
    --clr-dark-blue: #005F73;
    --clr-mid-blue: #0A9396;
    --clr-light-blue: #94D2BD;
    --clr-dark-orange: #BB3E03;
    --clr-mid-orange: #CA6702;
    --clr-light-orange: #EE9B00;
    --clr-yellow: #F9C74F;
    --clr-dark-green: #1B4332;
    --clr-mid-green: #1F574E;
    --clr-light-green: #90BE6D;
    --clr-dark-red: #9B2226;
    --clr-red: #AE2012;
}